body {
    padding-top: 70px;
    background-image: url("../media/backgrounds/dark-floral-1.jpg");
}

.centerbox {
    position: absolute;
    top: 20%;
}

.chatfilter {
    display: block;
}

.chatting-with {
    position: absolute;
    z-index: 10;
}