<div class="flex-row justify-content-center mx-5">
    <div class="card">
        <div class="card-header">
            <h1>About ChatJS</h1>
            <h6 class="card-subtitle mb-2 text-muted">v0.1A</h6>
        </div>
        <div class="card-body">
            <div class="card-text">
                <h4 class="text-center">Current features</h4>
                <ul>
                    <li>
                        <h6>User account:</h6>
                        <ul class="mb-2">
                            <li>
                                Register: Create a new user with username, password, first name, last name and a pass
                                code to recover your password.
                            </li>
                            <li>
                                Login: Log in with your username and password.
                            </li>
                            <li>
                                Reset passowrd: Reset your password with your username and pass code.
                            </li>
                        </ul>
                    </li>
                    <li class="mb-2">
                        <h6>User menu:</h6>
                        <span>
                            Open menu to log out, see the about page and other features to come.
                        </span>
                    </li>
                    <li class="mb-2">
                        <h6>User search bar:</h6>
                        <span>
                            Search for an user to chat with by username, first name or last name, then click the
                            desired contact.
                        </span>
                    </li>
                    <li class="mb-2">
                        <h6>Chat page:</h6>
                        <span>
                            Send messages real time to other users. You can press the Enter key to send the message.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>