<div class="d-flex d-flex-row mb-2" ng-repeat="message in messages | orderBy : 'datesent'">
    <div class="card" ng-class="message.username === user.username ? 'mr-1 ml-auto' : 'ml-1 mr-auto'">
        <div class="card-body">
            <div class="card-text">
                <span ng-bind="message.body"></span>
            </div>
            <small class="card-subtitle text-muted mt-5">
                {{message.datesent | date:"MM/dd/yyyy 'at' h:mma"}}
            </small>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <div class="card">
        <div class="card-body">
            <div class="d-flex d-flex-row">
                <textarea class="form-control" rows="1" ng-model="message" placeholder="Message..."></textarea>
                <button class="btn btn-success ml-4" type="button" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>