<div class="d-flex flex-row">
    <form ng-submit="sendMessage()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="message" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-row mt-2" ng-repeat="message in messages track by $index">
    <div class="card">
        <div class="card-body">
            <span class="card-text" ng-bind='message'></span>
        </div>
    </div>
</div>